<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title><%= current_page.data.title || "Donate to Ada Developers Academy" %></title>
  <link href="/" rel="canonical">
  <meta content="TBD" name="description">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Donate to Ada Developers Academy" property="og:title">
  <meta content="website" property="og:type">
  <meta content="TBD" property="og:description">
  <meta content="https://donate.adadev.org/" property="og:url">
  <meta content="https://donate.adadev.org/images/social/share_new.jpg" property="og:image">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="Donate to Ada Developers Academy" name="twitter:title">
  <meta content="TBD" name="twitter:description">
  <meta content="https://donate.adadev.org/images/social/share_new.jpg" name="twitter:image">
  <script>
  var OneAmericaSettngs = {
  'stripe_api_url':'https://backend.oneamericaappeal.org/donate',
  'stripe_api_pub_key': 'pk_live_9EbtgYUT8Hi35pVBgnU1ZFD6'
  };
  </script>
  <%= stylesheet_link_tag "site" %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag "site" %>
</body>
</html>
