---
title: Donate to Ada Developers Academy
---

<nav class="nav" id="nav">
  <div class="menu-mobile">Menu</div>
  <div class="menubar" role="menubar">
    <div class="logo-view">
      <img class="logo" src="images/logo_with_text.png" alt="TBD">
    </div>
    <a class="menuitem" role="menuitem" href="#start">Home</a>
    <a class="menuitem" role="menuitem" href="#loan-fund">Ada Loan Fund</a>
    <a class="menuitem" role="menuitem" href="#faqs">FAQs</a>
    <a class="menuitem" role="menuitem" href="#donations">Donate now</a>
  </div>
</nav>
<div class="presidents-wrapper no-lineheight" id="start">
  <picture class="president">
    <source media="(min-width: 1000px)" srcset="images/presidents_1000.webp, images/presidents_1400.webp 1.5x, images/presidents_2000.webp 2x" type="image/webp">
    <source media="(min-width: 700px)" srcset="images/presidents_700.webp, images/presidents_1000.webp 1.5x, images/presidents_1400.webp 2x" type="image/webp">
    <source srcset="images/presidents_350.webp, images/presidents_700.webp 2x" type="image/webp">
    <source media="(min-width: 1000px)" srcset="images/presidents_1000.jpg, images/presidents_1400.jpg 1.5x" type="image/jpeg">
    <source media="(min-width: 700px)" srcset="images/presidents_700.jpg, images/presidents_1000.jpg 1.5x, images/presidents_1400.jpg 2x" type="image/jpeg">
    <img alt="TBD" src="images/presidents_1400.jpg" srcset="images/presidents_350.jpg, images/presidents_700.jpg 2x">
  </picture>
  <div class="logo-wrapper">
    <div class="logo-and-donations">
      <img alt="Ada Developers Academy logo" class="logo" src="images/logo_with_text.png">
      <a class="button donation-button" href="index.html#donations">Donate now</a>
    </div>
  </div>
</div>
<div class="gap" id="donations">
  <div class="container donations">
    <h1>Donate to Ada Developers Academy</h1>
    <p>Ada Developers Academy is a non-profit training program for women and gender diverse people going into careers in software development. The eleven-month intensive program is tuition free and provides a combination of stipends and low-interest loans to its students to draw from the broadest set of qualified applicants, regardless of their financial means. To continue to provide low-interest loans for living expenses, Ada needs your help to reach our goal of $300K by the end of 2017. Your donation will seed our revolving loan fund and will be utilized by our consumer lending partner Craft3 to make student loans to Ada participants over the next 10 years.</p>
    <p>Your gift will give the most vulnerable candidates a shot at a great career as a software engineer. Thank you.</p>
    <div class="video-and-donorbox">
      <div class="video-container">
        <div class="video-wrapper">
          <iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/S5XrFiRK2oc?rel=0&controls=1&showinfo=0"></iframe>
        </div>
      </div>
      <a class="button-lg donation-button" href="index.html#donations">Donate now</a>
    </div>
    <div class="social-buttons">
      <a class="twitter-intent button" href="https://twitter.com/intent/tweet?text=Donate%20to%20the%20One%20America%20Appeal%20to%20help%20the%20millions%20impacted%20during%20this%20catastrophic%20hurricane%20season.%20https%3A%2F%2Fwww.oneamericaappeal.org%2F&hashtags=OneAmericaAppeal" target=""><img src="images/social/twitter.svg"> Tweet</a> <a class="facebook-share button" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.oneamericaappeal.org"><img src="images/social/facebook.png"> Share</a>
    </div>
  </div>
</div>
<div class="jarallax">
  <picture>
    <source media="(min-width: 1080px)" srcset="images/houston-chronicle-harvey-houses_1080.webp, images/houston-chronicle-harvey-houses_1440.webp 1.5x" type="image/webp">
    <source media="(min-width: 720px)" srcset="images/houston-chronicle-harvey-houses_720.webp, images/houston-chronicle-harvey-houses_1080.webp 1.5x, images/houston-chronicle-harvey-houses_1440.webp 2x" type="image/webp">
    <source srcset="images/houston-chronicle-harvey-houses_360.webp, images/houston-chronicle-harvey-houses_720.webp 2x" type="image/webp">
    <source media="(min-width: 1080px)" srcset="images/houston-chronicle-harvey-houses_1080.jpg, images/houston-chronicle-harvey-houses_1440.jpg 1.5x" type="image/jpeg">
    <source media="(min-width: 720px)" srcset="images/houston-chronicle-harvey-houses_720.jpg, images/houston-chronicle-harvey-houses_1080.jpg 2x, images/houston-chronicle-harvey-houses_1440.jpg 2x" type="image/jpeg">
    <img alt="The country is coming together to help the victims." class="jarallax-img" src="images/houston-chronicle-harvey-houses_1440.jpg" srcset="images/houston-chronicle-harvey-houses_360.jpg, images/houston-chronicle-harvey-houses_720.jpg 2x">
  </picture>
  <figcaption>
    TBD
  </figcaption>
</div>
<div class="gap" id="loan-fund">
  <div class="container about">
    <h1>Ada Developers Academy: The game changer</h1>
    <p>This program is a game changer for our students and the tech industry at large.</p>
    <div>
      <h3>Industry Supported</h3>
      <ul>
        <li>60+ sponsor companies</li>
        <li>74% sponsor return rate within one year of initial sponsorship</li>
        <li>29% of current sponsors are sponsoring more than one person from the same cohort</li>
        <li>98% candidate placement rate</li>
      </ul>
    </div>
    <div>
      <h3>Student Diversity Matters</h3>
      <ul>
        <li>Age range typically 21 - 49</li>
        <li>Range of previous careers – flight attendant, barista, teacher, social worker, scientist, researcher, retail</li>
        <li>Ethnicity - African American, Asian Latinx, Caucasian, Native American</li>
        <li>Backgrounds – Low income/homeless, LGBTQ</li>
      </ul>
    </div>
    <div>
      <h3>Graduate 96 Software Developers a year</h3>
      <ul>
        <li>50% Women of Color</li>
        <li>30% Underrepresented Minorities (African American, Latinx, Native American)</li>
        <li>Ada will graduate 96 more software developers between now and July 2018</li>
      </ul>
    </div>
    <div>
      <h3>Creating the "whole" Programmer</h3>
      <ul>
        <li>Rigor in admissions- test of grit, aptitude and drive</li>
        <li>One month Jumpstart class to increase familiarity with code prior to start date</li>
        <li>Six-month intensive in class curriculum – HTML/CSS, Ruby, Java Script, Ruby on Rrails, CS fundamentals</li>
        <li>Capstone project presentation</li>
        <li>Five-month paid internship at a sponsor tech company</li>
        <li>Wrap around curriculum – resume writing, interviewing, whiteboarding, nuances of the tech workplace, various panel discussions</li>
      </ul>
    </div>
    <p>Ada has been tremendously successful in many regards from financial sustainability to growth. However, the organization is proudest of its impact toward its mission of closing the gender gap and underrepresented women of color disparity in technology. With supporters like you we can continue to support the communities we serve and change the game.</p>
    <a class="button donation-button" href="index.html#donations">Donate now</a>
  </div>
</div>
<div class="jarallax">
  <picture>
    <source media="(min-width: 1080px)" srcset="images/hurricane-irma_1080.webp, images/hurricane-irma_1440.webp 1.5x" type="image/webp">
    <source media="(min-width: 720px)" srcset="images/hurricane-irma_720.webp, images/hurricane-irma_1080.webp 1.5x, images/hurricane-irma_1440.webp 2x" type="image/webp">
    <source srcset="images/hurricane-irma_360.webp, images/hurricane-irma_720.webp 2x" type="image/webp">
    <source media="(min-width: 1080px)" srcset="images/hurricane-irma_1080.jpg, images/hurricane-irma_1440.jpg 1.5x" type="image/jpeg">
    <source media="(min-width: 720px)" srcset="images/hurricane-irma_720.jpg, images/hurricane-irma_1080.jpg 2x, images/hurricane-irma_1440.jpg 2x" type="image/jpeg">
    <img alt="The country is coming together to help the victims." class="jarallax-img" src="images/hurricane-irma_1440.jpg" srcset="images/hurricane-irma_360.jpg, images/hurricane-irma_720.jpg 2x" style="z-index:-40">
  </picture>
  <figcaption>
    TBD
  </figcaption>
</div>
<div class="gap grey-background" id="faqs">
  <div class="container">
    <h1>FAQs</h1>
    <h3>What is Ada Developers Academy?</h3>
    <p>Ada is a 501(c)(3) nonprofit, with Third Sector New England as its fiscal sponsor. Ada Developers Academy’s mission is to diversify Tech by providing women and gender diverse people with the skills, experience, and community support to become professional software developers who contribute to changing the world with software. Our highly immersive, tuition-free program combines six months of classroom training and a five-month paid, learning internship to teach both how to write code (practical tools and computer science fundamentals) and how to be a software developer (leadership, inclusivity, and career).</p>
    <h3>If I make a donation today, where does my money go?</h3>
    <p>All funds received unless otherwise directed will be applied toward the Ada Loan Fund Capital Campaign 2017. These funds will be applied toward our goal of $300K by year end 2017. Your donation will seed our revolving loan fund and will be utilized by our consumer lending partner Craft3 to make low interest loans to Ada participants over the next 10 years.</p>
    <h3>Can I mail a check?</h3>
    <p>Yes. Checks to Ada Developers Academy should be made payable to "Craft3/Ada Developers Academy" and may be mailed to:</p>
    <p class="indent">Craft3 Lockbox<br>
    PO Box 3914<br>
    Seattle, WA 98124-3914</p>
    <p class="indent"><a href="mailto:donate@adadeveloperscademy.org">donate@adadevelopersacademy.org</a></p>
    <p class="indent">*Please note in the check memo line: "Ada Developers Academy"</p>
    <h3>Is Ada Developers Academy's Loan Fund a new fund?</h3>
    <p>No. All funds collected will go into an already established Ada Loan Fund. Ada Developers Academy is a 501(c)(3) nonprofit, with Third Sector New England as its fiscal sponsor.</p>
    <h3>What if I wish to make a donation through a donor-advised fund?</h3>
    <p>The following information is required to make such a gift:</p>
    <p class="indent">EIN: TBD<br>
    Contact Name: TBD<br>
    Phone Number: TBD</p>
    <h3>What if I didn't receive a receipt?</h3>
    <p>All receipts are sent via email from TBD. Please check your spam folder.</p>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="address">
      <h3>TBD</h3>
      <p>TBD</p>
      <p><a href="mailto:donate@adadevelopersacademy.org">donate@adadevelopersacademy.org</a></p>
    </div>
  </div>
  <div class="footer--copyright">
    <div class="container">
      <p>Copyright 2017 <a href="https://adadevelopersacademy.org/" target="_blank">Ada Developers Academy</a></p>
    </div>
  </div>
</footer>
<div class="modal-window" id="modal-window">
  <div class="modal-wrapper">
    <div class="error" id="modal_error" style="display:none">
      <h2>There seems to be an error processing your card</h2>
      <p>This may be due to your card being declined, or the card number and billing address being incorrect.</p>
      <p>Double check your card information, and try again in a minute.</p><!--[if IE 9]><p>This site was built for all major browser and Intenet Explorer 10+</p><![endif]-->
    </div>
    <div class="error" id="modal_success" style="display:block">
      <h2>Thank you for your kind donation!</h2>
      <p>Help us raise funds for those affected by this great tragedy by sharing with your friends and family.</p>
      <div class="social-buttons">
        <a class="twitter-intent button" href="https://twitter.com/intent/tweet?text=Donate%20to%20the%20One%20America%20Appeal%20to%20help%20the%20millions%20impacted%20during%20this%20catastrophic%20hurricane%20season.%20https%3A%2F%2Fwww.oneamericaappeal.org%2F&hashtags=OneAmericaAppeal" target=""><img src="images/social/twitter.svg"> Tweet</a> <a class="facebook-share button" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.oneamericaappeal.org"><img src="images/social/facebook.png"> Share</a>
      </div>
    </div>
    <div class="button close-modal">
      Close
    </div>
  </div>
</div>
<script async src="https://www.google-analytics.com/analytics.js">
</script>
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-105989852-1', 'auto');
  ga('send', 'pageview', {transport: 'beacon'});
</script>
